//顏色變數
$color_white: #FEF9EF;
$color_yellow: #FFF383;
$color_black: #202020;
$color_grey: #333;


// 常用mixin
@mixin ab_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
@mixin size($w,$h) {
  width: $w;
  height: $h;
}

main {
  width: 100vw;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container_L {
  composes: container;
  height: 100vh;
}

.titleBox {
  @include ab_center;
  top: 40%;
}
.title {
  font-weight: bold;
  text-align: center;
}
.subtitle {  // position: relative
  font-weight: bold;
  text-align: center;
  text-align: right;
}

//LandingPage的navbar樣式
.nav_L {
  @include ab_center;
  top: 58%;
  padding-left: 0px;
}
.navItem_L {
  list-style: none;
  border-left: solid 2px $color_black;
  transition: 0.5s;
  &:hover {
    background-color: $color_yellow;
  }
  a {
    display: inline-block;
    padding: 3px 15px;
    color: $color_black;
    font-weight: bold;
    transition: 0.5s;
    &:hover {
      color: $color_grey;
    }
  }
}
//LandingPage的底部裝飾
.footer_chicken_egg {
  width: 100%;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  svg {
    width: 100%;
  }
}

//各別作品頁面(SinglePrjPage)
.relevantLinks {
  position: absolute;
  display: flex;
  gap: 10px;
  .relevant_link_btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: $color_yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section_mainPic {
  margin-top: 100px;
}
.imgBox {
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  border-radius: 15px;
  border: 8px solid $color_yellow;
  overflow: hidden;
  cursor: pointer;
  .mainPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.readMore {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: $color_yellow;
}
.deco > svg {
  display: inline-block;
}
.section_description {
  background-color: $color_yellow;
}


//"網頁建置中"提示文字
.tempNoti {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: $color_grey;
}

//----RWD：電腦版-----

@media screen and (min-width:520px) {
  .titleBox {
    top: 47%;
  }
  .nav_L {
    display: flex;
    top: 60%;
    padding-left: 0px;
  }
  .navItem_L {
    margin-right: -3px;
    border-left: none;
  }
  .iLine {
    border-left: solid 2px $color_black;
  }
  .footer_chicken_egg {
    width: 80%;
  }
};


//test: 暫放卡片的樣式
