//顏色變數
$color_white: #FEF9EF;
$color_yellow: #FFF383;
$color_black: #202020;
$color_grey: #333;

// 常用mixin
@mixin ab_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
@mixin size($w,$h) {
  width: $w;
  height: $h;
}

//其他頁的navbar樣式
.navBox {
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 10px 0 20px 0;
  background-color: $color_yellow;
  z-index: 99;
}
.bg_white {
  background-color: $color_white;
}
.nav {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
}
.navItem {
  display: inline-block;
  margin-left: 3px;
  margin-right: -3px;
  list-style: none;
  transition: 0.5s;
  cursor: pointer;
  .bi-house-fill {
    margin-right: 5px;
  }
  a {
    // position: relative;
    padding: 2px 10px;
    color: $color_black;
    font-weight: bold;
    transition: 0.5s;
    &:hover {
      background-color: $color_grey;
      color: $color_white;
    }
  }
}
.iLine {
  border-right: solid 2px $color_black;
}

.active {
  &::after {
    position: absolute;
    margin-top: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: '';
    @include size(7px, 7px);
    border-radius: 50%;
    background-color: $color_white;
    box-shadow: 1px 1px 3px rgba($color_grey, 0.5);
  }
}

//黃底大項目分類標頭
.commonHeader {
  background-color: $color_yellow;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.titleBox {
  @include ab_center;
  letter-spacing: 3px;
}
.title,
.subtitle {
  font-weight: bold;
}
.subtitle {
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.decoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_chicken_1,
.header_eggs_1 {
  position: relative;
  top: 100px;
  left: 30px;
}
.header_eggs_1 {
  left: unset;
  right: 30px;
}
.header_chicken_1 > svg {
  transition: 0.5s;
}

//米白底- 小項目分類標頭 | 各別作品的標頭
// 小項目分類
.cateHeader {
  background-color: $color_white;
}
.titleBox_2 {
  position: absolute;
  top: 30%;
  letter-spacing: 3px;
}
.decoRow_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .line {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 90%;
    height: 1px;
    background-color: $color_black;
  }
}
.header_chicken_2, .header_eggs_2 {
  position: relative;
  top: 70px;
  right: 10px;
}
.header_eggs_2 {
  right: 15px;
  transform: scaleX(-1);
}
.header_chicken_2 > svg {
  transition: 0.5s;
}
// 各別作品
.title_2,
.subtitle_2 {
  font-weight: bold;
} 

.title_2 {
  width: 200%;
  padding-bottom: 10px;
  border-bottom: 1px solid $color_black;
  font-size: 1.2rem;
}
.subtitle_2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.decoRow_3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reverse {
  transform: scaleX(-1);
}


//----RWD：電腦版-----

@media screen and (min-width: 520px) {
  //Nav
  nav {
    display: flex;
    justify-content: flex-end;
  }
  .nav {
    margin-right: 10px;
    left: unset;
    transform: unset;
  }

  //Header
  .title {
    font-size: 2rem;
  }
    
  .header_chicken_1 > svg {
    width: 128px;
    transition: 0.5s;
  } 
  .header_eggs_1 > svg {
    width: 110px;
    transition: 0.5s;
  }

  .header_chicken_2, .header_eggs_2 {
    top: 50px;
  }
  .header_chicken_2 > svg {
    width: 100px;
    transition: 0.5s;
  } 
  .header_eggs_2 > svg {
    width: 90px;
    transition: 0.5s;
  }
}

@media screen and (min-width: 800px) {
  //Header
  .header_chicken_1 > svg {
    width: 183px;
    transition: 0.5s;
  }
  .header_eggs_1 > svg, .header_eggs_2 > svg {
    width: 171px;
    transition: 0.5s;
  }

  .header_chicken_2 > svg {
    width: 168px;
    transition: 0.5s;
  }
  .decoRow_3 {
    align-items: end;
  }
}